body{
    margin:auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#main-div {
    margin-top: 50px;
    border: 1px solid black;
    text-align: center;
}
.sub-heading{
    font-size: 30px;
    
}
#clock {
    font-size: 28px;
    
  }
  
  #alarm-form {
    margin-bottom: 20px;
    
  }
  
  #alarms {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    
  }
  
  button.delete {
    background-color: black;
    border: 2px solid red;
    border-radius: 3px;
    height: 25px;
    text-align: center;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    
  }

  input{
  border: 1.5px solid black;
  height: 25px;
  text-align: center;
  }
  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#am-pm{
border: 1.5px solid black;
height: 29px;
text-align: center;
}

#set-alarm{
    border: 1.5px solid black;
    height:40px;
    margin-left: 15px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}